@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.container{
  max-width: 1300px;
  margin: auto;
}

#text-section{
  margin-top: 30px;
  text-align: center;
  font-size: 28px;
  font-weight:lighter;
  line-height: 4px;
  
  

  font-family: "Open Sans", sans-serif;
}
#text-section p{
  font-size: 18px; 
  line-height: 5px;
  
}

.split-picture{
  margin-top: 40px;
  display: flex;
  /* justify-content: space-between; */
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transition: all 0.5s ease;
  
}


.split-picture img{
  height: 467px;
  width: 1000px;
  /* border: 1px solid red; */
  border-radius: 20px;
  transition: width 0.5s ease;
  object-fit: cover;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.split-picture img:hover {
  width: 700px; /* Expand to 68% on hover */
}

.split-picture img:not(:hover) {
  width: 400px /* Contract the other image */
}
